
<div class="mb-3 gap-2 col-6 mx-auto ">
  <input class="form-control" type="file" #fileInput />
</div>

<div class="row d-grid gap-2 col-6 mx-auto">
  <input type="submit" (click)="getFilePDF($event, fileInput)" class="btn btn-success" />
</div>

<div class="mt-5">

  <table class="table table-danger table-bordered table-striped w-75" style="margin: 50px auto">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Archivo</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-light" *ngFor="let item of data">
        <!--<th>{{ item.id }}</th>-->
        <th>{{ item.nombre }}</th>
        <th>{{ item.archivo }}</th>
        <th style="gap: 5px;">
          <button class="btn btn-info me-2" style="width: 40%;">Visualizar</button>
          <button class="btn btn-danger" (click)="delete(item.id)" style="width: 40%;">Eliminar</button>
        </th>
      </tr>
    </tbody>
  </table>

</div>
